$screen-md-max: 909px;
$screen-md-min: 768px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) {
    @content;
  }
}

.about-me {
  margin: 0 auto;
  width: 80%;

  @include sm {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header-container {
    text-align: center;
    background: white;
    
    h2 {
      border: 3px dotted black;
      padding: 10px;
      display: inline-block;
      font-weight: 400;
      font-size: 32px;
    }
  }

  .text-container {
    border: 8px solid red;
    background: darkblue;
    color: lightblue;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 25px 50px;
  }
}