$light-blue: #5775BA;
$light-medium-blue: #3759A8;
$medium-blue: #1741A1;
$medium-dark-blue: #0E307E;
$dark-blue: #082463;
$light-grey: #E0E0E0;

$screen-md-max: 941px;
$screen-md-min: 830px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) {
    @content;
  }
}

.about-me {
  margin: 0 auto;
  width: 80%;
  background: $light-grey;

  @include sm {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header-container {
    text-align: center;
    background: $light-grey;
    color: $dark-blue;
    
    h2 {
      border-bottom: 3px solid $dark-blue;
      display: inline-block;
      font-weight: 400;
      font-size: 32px;
    }

  }

  .text-container {
    border: 8px solid $light-medium-blue;
    background: $dark-blue;
    color: $light-grey;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 25px 50px;
  }
  
}