$light-blue: #5775BA;
$light-medium-blue: #3759A8;
$medium-blue: #1741A1;
$medium-dark-blue: #0E307E;
$dark-blue: #082463;
$light-grey: #E0E0E0;

$screen-md-max: 941px;
$screen-md-min: 830px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  } 
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-md-max + 1}) {
      @content;
  }
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  img {
    width: 75px;
    cursor: pointer;
    margin-bottom: 10px;

    @include sm {
      margin: 10px 60px;
    }

  }

  .answer-container {
    border: 1px solid $light-grey;
    padding: 20px 30px;
    margin-top: 10px;
    
    .answer {
      text-align: center;
      color: $light-grey;
      margin: -10px -10px -10px -10px;
    }

  }

}