$light-blue: #5775BA;
$light-medium-blue: #3759A8;
$medium-blue: #1741A1;
$medium-dark-blue: #0E307E;
$dark-blue: #082463;
$light-grey: #E0E0E0;

$screen-md-max: 883px;
$screen-md-min: 768px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  } 
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-md-max + 1}) {
      @content;
  }
}

.react-slidedown {
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: $dark-blue;

  @include md {
    height: 90px;
  }

  @include lg {
    height: 70px;
  }

  .menu {
    padding: 30px 20px;

    img {
      width: 36px;
    }

    img:hover {
      cursor: pointer;
    }

  }

  .vertical-text-links {
    position: absolute;
    top: 90px;
    left: 0;
    
    a {
      display: block;
      width: 200px;
      padding: 10px;
      border: 1px solid $dark-blue;
      border-collapse: collapse;
      background: $light-blue;
      color: $dark-blue;
      font-size: 20px;
    }

    a:hover {
      cursor: pointer;
      background: $dark-blue;
      color: $light-blue;
    }

  }
  
  .mobile-image-links {
    width: 225px;
    margin-right: 20px;
    display: inline-flex;
    
    a {
      @include sm {
        margin: 20px 10px;
      }

      img {
        width: 50px;
      }

    }

  }

}