$light-blue: #5775BA;
$light-medium-blue: #3759A8;
$medium-blue: #1741A1;
$medium-dark-blue: #0E307E;
$dark-blue: #082463;
$light-grey: #E0E0E0;

$screen-md-max: 941px;
$screen-md-min: 830px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  } 
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-md-max + 1}) {
      @content;
  }
}

.desktop-navbar {
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.7s;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: $dark-blue;

    @include md {
      height: 90px;
    }

    @include lg {
      height: 70px;
    }

  .text-links {
    width: 725px;
    padding-top: 10px;
    margin-left: 20px;
    display: inline-flex;
    text-align: center;

    a {
      color: $light-grey;
      font-size: 16px;
      margin: 10px 20px; 
    }

    a:hover {
      text-decoration: underline;
    }

  }

  .image-links {
    width: 225px;
    margin-right: 20px;
    display: inline-flex;
    
    a {
      @include md {
        margin: 20px 5px;
      }

      @include lg {
        margin: 10px 10px;
      }
  
      img {
        width: 50px;
      }

    }

  }

  
}