$light-blue: #5775BA;
$light-medium-blue: #3759A8;
$medium-blue: #1741A1;
$medium-dark-blue: #0E307E;
$dark-blue: #082463;
$light-grey: #E0E0E0;

$screen-md-max: 883px;
$screen-md-min: 768px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  } 
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-md-max + 1}) {
      @content;
  }
}

.skills {
  margin: 0 auto;
  width: 80%;

  @include sm {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header-container {
    text-align: center;
    background: $light-grey;
  
    h2 {
      border-bottom: 3px solid $dark-blue;
      color: $dark-blue;
      display: inline-block;
      font-weight: 400;
      font-size: 32px;
      
    }
  }

  .quiz-container {
    border: 8px solid $light-medium-blue;

    .instructions-container {
      display: block;
      background: $dark-blue;
      color: $light-grey;
      text-align: center;
      border: 1px solid $dark-blue;
      
      h3 {
        font-weight: 400;
        font-size: 1.5em;
      }
    }
  
    .skills-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      background: $dark-blue;
      margin: 0 auto;
      padding: 0 30px 30px 30px;
    
      @include sm {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: darkblue;
      }
    }
    
  }
}