$screen-md-max: 883px;
$screen-md-min: 768px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  } 
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-md-max + 1}) {
      @content;
  }
}

.skills{

  @include sm {
    display: flex;
    flex-direction: column;
  }

  .header-container {
    text-align: center;
    background: white;
    
    h2 {
      border: 3px dotted black;
      padding: 10px;
      display: inline-block;
      font-weight: 400;
      font-size: 32px;
    }
  }

  .instructions-container {
    display: block;
    background: darkblue;
    color: lightblue;
    text-align: center;
    border: 1px solid darkblue;
    

    h3 {
      font-weight: 400;
      font-size: 1.5em;
    }
  }

  .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    background: darkblue;
    margin: 0 auto;
    padding: 0 30px 30px 30px;

    @include sm {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background: darkblue;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr;
      // grid-gap: 5em;
    }

    

    
  }
}