$light-blue: #5775BA;
$light-medium-blue: #3759A8;
$medium-blue: #1741A1;
$medium-dark-blue: #0E307E;
$dark-blue: #082463;
$light-grey: #E0E0E0;

$screen-md-max: 989px;
$screen-md-min: 830px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  } 
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-md-max + 1}) {
      @content;
  }
}

.contact-form {
  margin: 0 auto;
  width: 80%;

  @include sm {
    width: 100%;
  }

  .header-container {
    text-align: center;
    background: $light-grey;
    
    h2 {
      border-bottom: 3px solid $dark-blue;
      color: $dark-blue;
      display: inline-block;
      font-weight: 400;
      font-size: 32px;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    height: 550px;
    background: $dark-blue;
    color: $medium-blue;
    padding: 25px 50px;
    border: 8px solid $light-medium-blue;
    

    .form {
      font-family: 'Open Sans', sans-serif;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      background: $medium-dark-blue;
      color: $light-grey;
      border: 1px solid $medium-dark-blue;
      border-radius: 10px;
      padding: 40px;
      

      @include md {
        max-width: 90%;
      }

      * {
        padding: 5px;
      }

      textarea {
        font-family: 'Open Sans', sans-serif;
        height: 150px;
      }

      button {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        width: 50%;
        background: $medium-dark-blue;
        color: $light-grey;
        border: 2px solid $light-grey;
        outline: none;
      }

      button:hover {
        background: $light-grey;
        color: $medium-dark-blue;
        border: 2px solid $light-grey;
        cursor: pointer;
      }

    }
  }
}