$screen-md-max: 909px;
$screen-md-min: 768px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) {
    @content;
  }
}

.intro {
  display: flex;
  background: darkblue;

  @include sm {
    display: block;
  }

  .image-container {
    padding: 30px;
    width: 50%;

    @include sm {
      padding: 30px;
      width: 100%;
    }

    border: 2px solid white;

    img {
      width: 100%;
    }
  }

  .intro-container {
    
    color: lightblue;
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  h2 {
    font-size: 2.5em;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

}

@keyframes flickerAnimation {
  0%   { opacity:0; }
  // 50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  // 50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:0; }
  // 50%  { opacity:0.5; }
  100% { opacity:1; }
}
.animate-flicker {
  -webkit-animation: flickerAnimation 2.5s ;
  -moz-animation: flickerAnimation 2.5s infinite;
  animation: flickerAnimation 2.5s ;
}
