$light-blue: #5775BA;
$light-medium-blue: #3759A8;
$medium-blue: #1741A1;
$medium-dark-blue: #0E307E;
$dark-blue: #082463;
$light-grey: #E0E0E0;

$screen-md-max: 941px;
$screen-md-min: 830px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  } 
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-md-max + 1}) {
      @content;
  }
}

.applications {
  margin: 0 auto;
  width: 80%;

  @include sm {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header-container {
    text-align: center;
    background: $light-grey;
    
    h2 {
      border-bottom: 3px solid $dark-blue;
      color: $dark-blue;
      display: inline-block;
      font-weight: 400;
      font-size: 32px;
    }

  }

  .applications-container {
    border: 8px solid $light-medium-blue;
    background: $dark-blue;
    color: $light-grey;
    line-height: 1.5em;
    padding: 25px 50px;

    .application {
      display: block;
      text-align: center;
      background: $medium-dark-blue;
      border: 1px solid $medium-dark-blue;
      border-radius: 10px;
      margin: 30px 10px;

      .application-title {
        font-size: 1.2em;
        padding: 10px 20px;
        text-align: left;
      }

      .application-tech {
        padding: 20px;
      }

      .application-body {

        .carousel-container {
          padding: 0 40px;
        }
        
        .feature-list {
          text-align: left;
          margin-left: 20px;
          padding: 20px;
        }

        .undecorated{
          list-style-type: none;
        }

      }

    }

  }
  
}

