$screen-md-max: 883px;
$screen-md-min: 768px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  } 
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-md-max + 1}) {
      @content;
  }
}

.applications {
  margin: 0 auto;
  width: 80%;

  @include sm {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header-container {
    text-align: center;
    background: white;
    
    h2 {
      border: 3px dotted black;
      padding: 10px;
      display: inline-block;
      font-weight: 400;
      font-size: 32px;
    }
  }

  .applications-container {
    border: 8px solid red;
    background: darkblue;
    color: lightblue;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 25px 50px;

    .application {
      display: block;
      text-align: center;
      background: black;
      border: 1px solid black;
      border-radius: 10px;
      margin: 30px 10px;

      .application-title {
        padding: 15px;
        text-align: left;
      }

      .application-body {

        .application-image-container {
          @include sm {
            width: 90%;
            height: auto;
            margin: 0 auto;
          }

        }

        .carousel-container {
          padding: 40px;
        }
        
  
        .feature-list, p {
          text-align: left;
        }

        .undecorated{
          list-style-type: none;
        }

      }
    }
  }
}

