$light-blue: #5775BA;
$light-medium-blue: #3759A8;
$medium-blue: #1741A1;
$medium-dark-blue: #0E307E;
$dark-blue: #082463;
$light-grey: #E0E0E0;

$screen-md-max: 941px;
$screen-md-min: 830px;

@mixin sm {
  @media (max-width: #{$screen-md-min - 1}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  } 
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-md-max + 1}) {
      @content;
  }
}

.carousel-container {

  .carousel {
    width: 100%;
    height: auto;
    margin: 0 auto;

    .image-container {

    .image {
      width: 100%;
      height: auto
    }

    }
    
  }

  .portrait-aspect {
    width: 60%;

    @include sm {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }

  }

  .arrow {
    font-size: 300%;
    font-family: inherit;
    font-weight: 300;
    border: none;
    padding: 0;
    background: $medium-dark-blue;;
    color: $light-grey;
    outline: none;
  }

  .arrow:hover {
    color: #000000;
  }

  .prev {
    margin: 0 2rem 0 0;
  }

  .next {
    margin: 0 0 0 2rem;
  }
  
}