.carousel-container {

  .carousel {
    width: 100%;
    height: auto;
    margin: 0 auto;

    .image-container {

    .image {
      width: 100%;
      height: auto
    }

    }
  }

  .prev-arrow {
    font-size: 300%;
    font-family: inherit;
    font-weight: 300;
    border: none;
    padding: 0;
    background: black;
    color: lightblue;
    margin: 0 2rem 0 0;
    outline: none;
  }

  .next-arrow {
    font-size: 300%;
    font-family: inherit;
    font-weight: 300;
    border: none;
    padding: 0;
    background: black;
    color: lightblue;
    margin: 0 0 0 2rem;
    outline: none;
  }
  
}